.logo img {
    width: 80px;
    height: 80px;
    }
    .button {
     margin-top: 30px;
     padding-right: 50px;
    }
    .button button {
      background-color: rgb(0, 123, 255);
     margin: 5px 5px;
    }
    .header {
    
      font-family:'Times New Roman', Times, serif;
      color:chartreuse;
      display:flex;
      background-color:#2b487b;
    text-align: center;
     }
     h1{
      text-align: center;
    padding-left: 20%;
    padding-right: 20%;
     }
     h3{
    
      color:rgb(254, 107, 2);
      font-size: xx-large;
      margin-top:235px;
      text-align:center;
      font-family:'Times New Roman', Times, serif;
      
     }
    .footer
     {
      font-size: x-small;
    color:chartreuse;
      text-align:center;
      padding-block:1px ; 
      margin-top: 200px;
      background-color: #2b487b;
      
    }
    img
    {
    margin-left: 40px;
    width:30px;
    height: 30px;
    }